template(name="dataTable")
  .table-responsive
    table.table.table-striped
      thead
        tr
          th Top
          th Category
          th Valid Purchases
          th Revenues
          th Revenues in % of Total
      tbody
        each data
          tr
            a(href="{{ pathFor route='subCategories.show' }}")
              td #{top}
            td #{name}
            td #{validPurchases}
            td #{revenues}
            td {{revenuesPerTotal revenues}}
