template(name='filters')
  ul.list-group
    li.list-group-item
      h4 Brand Type
      .btn-group(data-toggle='buttons')
        label.btn.btn-primary.active
          input(type='radio', name='brand-type', value='all')
          | all
        label.btn.btn-primary
          input(type='radio', name='brand-type', value='branded')
          | branded
        label.btn.btn-primary
          input(type='radio', name='brand-type', value='private')
          | private
    li.list-group-item
      h4 Country
      div(data-toggle='buttons')
        each countries
          label.btn.btn-primary
            input(type='radio', name='country', value=name)
            | #{name}
    li.list-group-item
      h4 Sales type
      div(data-toggle='buttons')
        label.btn.btn-primary.active
          input(type='radio', name='sales-type', value='net')
          | Net Sale
        label.btn.btn-primary
          input(type='radio', name='sales-type', value='gross')
          | Gross Sale
    li.list-group-item
      h4 Date Range
      div(data-toggle='buttons')
        label.btn.btn-primary.active
          input(type='radio', name='date-range', value='1')
          | 1
        label.btn.btn-primary
          input(type='radio', name='date-range', value='2')
          | 2
        label.btn.btn-primary
          input(type='radio', name='date-range', value='4')
          | 4
      |       weeks
template(name='charts')
  .row.placeholders
    .col-xs-6.col-sm-3.placeholder
      img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='Generic placeholder thumbnail')
      h4 Label
      span.text-muted Something else
    .col-xs-6.col-sm-3.placeholder
      img.img-responsive(data-src='holder.js/200x200/auto/vine', alt='Generic placeholder thumbnail')
      h4 Label
      span.text-muted Something else
    .col-xs-6.col-sm-3.placeholder
      img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='Generic placeholder thumbnail')
      h4 Label
      span.text-muted Something else
    .col-xs-6.col-sm-3.placeholder
      img.img-responsive(data-src='holder.js/200x200/auto/vine', alt='Generic placeholder thumbnail')
      h4 Label
      span.text-muted Something else
